body, div, img, p, blockquote, h3, h4 {
    margin: 0px;
    padding: 0px;
    border : 0px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration:underline
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    font-family: David, Arial,Verdana,Sans-Seriff;
    background: none repeat scroll 0 0 #FFFFFF;
    text-align: justify;
    line-height : 150%
}

div, img {
    vertical-align: middle;
}

p {
    padding-top : 0px;
    padding-bottom : 13px;
    padding-left : 0px;
    padding-right : 0px;
    line-height : 150%
}

blockquote {
    padding-top : 10px;
    padding-bottom : 10px;
    padding-left : 20px;
    padding-right : 20px;
}

td {
    vertical-align : top;
    padding-bottom : 10px;

}

#main {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 730px;
    margin: 0px auto;
}

/* menu - navigation bar */
#menu {
    background: url("images/menu_bg.gif") no-repeat scroll center transparent;
    height: 42px;
    vertical-align : middle;
}

#menu-content {
    padding-top : 10px;
    padding-left : 15px;
    padding-right : 15px;
    text-align : center;
    vertical-align : middle;
}

#menu a {
    color: #40454E;
    text-decoration: none;
}

#menu a:hover {
    color : #743C5;
}


#frame-middle {
    background: url("images/bg_middle2.gif") repeat-y scroll center top transparent;
}

#content {
    font-family: David, Arial,Verdana,Sans-Seriff;
    width : 530px;
    min-height : 400px;
}

#footer {
    text-align : center;
    font-size : 11px;
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 4px;
}

.book-name {
    font-weight : bold;
}

.book-pub {
    font-style : italic;
}

hr {
    width:80%;
    border: 0;
    color: #222;
    background-color: #222;
    height: 1px;
}
